
.navbar-custom {
    background-color: #B0DBB2 !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #000000 !important; 
}

.navbar-custom .nav-link:hover {
    color: #434343 !important; 
}

.login {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 80px;
   
}

.login > div {
    border-style: solid;
    border-width: 0.5px;
    border-color: #3e3e3e;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    padding: 30px;
}