{% extends "app_itmunch/layout.html" %}

{% load static %}



{% block title %}Questions{% endblock %}

{% block body %}

<script src="{% static 'app_itmunch/questions.js' %}"></script>

<style>
    .question.active{
        display: flex;
    }
    .question{
        display: none;
    }
</style>

    <h1>Questions</h1>

    <form id="question-form" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="question{% if forloop.first %} active{% endif %}">
                {{ field.label_tag }} {{ field }}
            </div>
        {% endfor %}

        <!-- {{ form.as_p }} -->
        <button id="button_next" type="button">Next</button>
        <button type="submit" style="display:none" id="button_submit">Submit</button>
    </form>
{% endblock %}